body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.btn {
   
    pointer-events: auto; /* Ensure the button is clickable */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Ensure the button is above other content */
}

.btn span, 
.btn img {
    pointer-events: none; /* Prevent child content from blocking button click */
}



.imgs{
    width: 5rem;
}
.btn-nav{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20rem;
    height: fit-content;
}
.main{
    font-family:'Courier New', Courier, monospace ;
    display: flex;
   
}
.canvas-container {
    flex-grow: 1; /* Allow the canvas to take the remaining space */
    padding:0rem 0.1rem;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}


#myCanvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: 
    linear-gradient(to right, #c2c2c2 1px, transparent 1px),
    linear-gradient(to bottom, #c2c2c2 1px, transparent 1px);
    background-size: 20px 20px; /* Adjust the grid size here */
}


@media (max-width: 768px) {
    .main {
        flex-direction: column; /* Switch to column layout for mobile */
       
    }
    #myCanvas{
        width: 98%;
    }
    .btn-nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }
}